<html>
  <head>
    <title> Exemplo </title>
    <link rel="stylesheet" type="text/css" href="estilo.css" />
  </head>
  <h2> Cadastro Administrador </h2>
  <% if(locals.mensagem) { %>
  <p style="color:red"> <%= mensagem %> </p>
  <% } %>
  <body>
    <form action="/cadastrarAdm" method="POST">
      Usuário:
      <input type="text" name="usuario" required/> 
      <br>
      Senha:
      <input type="password" name="senha" required/>
      <br>
      <input type="submit" value=" Cadastrar"/> 
    </form>
  </body>