<html>
  <head>
    <title> Exemplo </title>
    <style>
      body {
        background-color: #388E3C;
        font-family: verdana;
        text-align: center;
      }
      div {
        font-size:30px;
      }
      a {
        font-size:16px;
      }
    </style>
  </head>
  <h2> Sobre </h2>
  <body>
    <div> Aqui é simplesmente um teste!!! </div> 
    <a href="/"> Index </a>
  </body>
</body>